<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>educational background</title>
</head>
<body>
<h1>Education</h1>
<ul>
    <li>MS, Software Engineering, University of Maryland University College, 2016</li>
    <li>MA, Teaching English as a Second Language, Azad University, Tehran, Iran</li>
    <li>BA, Translation from English to Farsi and Vice-Versa, Azad University, Tehran, Iran</li>
    <li>Certificate Program(s), Oracle Programming, Relational Databases, and Database Administration, Montgomery College, Rockville, MD</li>
</ul>
</body>
</html>