<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resume</title>
</head>


<body>
<h1>Shahla Mostafavi </h1>
   <p>12929 Esworthy Rd
       North Potomac, MD
       Tel: (301) 461-6021
       Email: shahlam636@gmail.com
   </p>

<h1>Professional Profile</h1>

<ul>
    <li>reative and dynamic professional with extensive knowledge in Software Development, including SRS development, usability testing, validation and verification, and risk management</li>
    <li>Creative and dynamic professional with extensive knowledge in Software Development, including SRS development, usability testing, validation and verification, and risk management
<li> Years of experience in teaching and training college-level students in a diverse community, excellent oral and written communication skills, goal oriented,and dedicated
   </li>
</ul>
</body>
</html>