<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my skills</title>
</head>
<body>
<h1>Skills</h1>
<ul>
    <li>PL/SQL (CRUD, Stored Procedures, Triggers, etc.) </li>
    <li>Java, IntelliJ IDEA, CSS, Spring boot</li>
    <li>Unified Modeling Language (UML), experience with NetBeans, GUI Development, and HTML</li>
    <li>Microsoft Office applications (Word, Excel, Project, Access, and PowerPoint) </li>
    <li>Networking, MS Widows Network, AWS Developer </li>
</ul>
</body>
</html>