<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>workexperincepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
<hi>WorkExpeince</hi>
<ul>
        <li>2018-2019            Human Language Technology Specialist, Leidos, Reston, VA </li>
        <li>2003-present         Faculty, Department of Linguistics and Communication Studies, Montgomery College</li>
        <li>2015-2016            Faculty Research Assistant, Center for Advanced Study of Language (CASL),
                                 University of Maryland, College Park, MD
        </li>
        <li>2009-2011            Persian (Farsi) Lecturer, School of Languages, Literatures & Cultures, Center</li>
        <li>2017-2018            Translator, Diplomatic Language Services, Washington, DC/li>
        <li>2013-2018            Translator, Schreiber Translation, Inc., Rockville, MD</li>
        <li>2007-2008            Translator & Transcriber, Voice of America, Washington DC </li>
        <li>1990-1996            Translator, Scientific Information and Documentation Center, Tehran, Iran  </li>
    <li>    2014-2018            Online Rater, Educational Testing Service (ETS)  </li>
    <li>•	2004-2005            ESL Testing Specialist, Second Language Testing, Inc., Rockville, MD </li>
    <li>•	2005-2018            Tutor, Writing, Reading, and Language Center, Montgomery College </li>

</ul>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>