<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>workexperincepage</title>
</head>

<body>
<hi>WorkExpeince</hi>
<ul>
        <li>2018-2019            Human Language Technology Specialist, Leidos, Reston, VA </li>
        <li>2003-present         Faculty, Department of Linguistics and Communication Studies, Montgomery College</li>
        <li>2015-2016            Faculty Research Assistant, Center for Advanced Study of Language (CASL),
                                 University of Maryland, College Park, MD
        </li>
        <li>2009-2011            Persian (Farsi) Lecturer, School of Languages, Literatures & Cultures, Center</li>
        <li>2017-2018            Translator, Diplomatic Language Services, Washington, DC/li>
        <li>2013-2018            Translator, Schreiber Translation, Inc., Rockville, MD</li>
        <li>2007-2008            Translator & Transcriber, Voice of America, Washington DC </li>
        <li>1990-1996            Translator, Scientific Information and Documentation Center, Tehran, Iran  </li>
    <li>    2014-2018            Online Rater, Educational Testing Service (ETS)  </li>
    <li>•	2004-2005            ESL Testing Specialist, Second Language Testing, Inc., Rockville, MD </li>
    <li>•	2005-2018            Tutor, Writing, Reading, and Language Center, Montgomery College </li>

</ul>
</body>
</html>